body{
    padding: 0px;
    margin: 0px;
}

#menu ul {
    float: left;
    width: 100%;
    background-color: black;
    list-style: none;
    font: 100% verdana;
    padding: 0px;
    margin: 0px
}

#menu ul li{display: inline;}

#menu ul li a {
    color: rgb(255, 255, 255);
}

#menu ul li a:hover{
    color: cyan;
}